/**********************************
GENERAL
**********************************/

/* * {
  margin: 0;
  padding: 0;
} */

/**********************************
GRID
**********************************/

.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas:  "head head"
                        "hero quote"
                        "hero biobutt"
                        "bio bio"
                        "social social"
                        "projphoto projphoto"
                        "proj proj"
                        "foot foot";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 65vh 25vh 300px 100px 300px 300px 100px;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.box {
  color: DimGrey;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.headnav {
  grid-area: head;
  justify-content: center;
}

.photo {
  grid-area: hero;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pullquote {
  grid-area: quote;
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding: 50px;
  /* margin-bottom: 3.33rem; */
  /* border-top: 4px solid black;
  border-bottom: 4px solid black; */
  /* text-align: left; */
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
}


.biobuttons {
  grid-area: biobutt;
  display: flex;
  justify-content:  space-evenly;
}

.button {
  border-radius: 10px;
  color: DimGrey;
  display: flex;
  justify-content: center;
  font-weight: 700;
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  border: 1px solid DimGrey;
}

.button:hover {
  background-color: CornflowerBlue;
  border: 1px solid CornflowerBlue;
  color: #FFF;
}

.biography {
  grid-area: bio;
  font-size: 1.2rem;
  line-height: 1.1;
  margin: auto;
  box-sizing: border-box;
  padding: 50px;
}

.socialbuttons {
  grid-area: social;
  display: flex;
  justify-content:  space-evenly;

}

.projectphoto {
  grid-area: projphoto;
}

.projects {
  grid-area: proj
}

.foot {
  grid-area: foot;
}

/**********************************
OTHER
**********************************/


body {
  font-family: 'DM Sans', sans-serif;
}

h1 {
  text-align: left;
}

a {
  text-decoration: none;
}

.photo {
  margin: 0 auto;
}

.bio {
  color: Black;
  border-radius: 5px;
  border: 3px solid black;
  padding: 10px;
  margin: 20px auto;
}
